
.login-form, .signup-form {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(245, 245, 245, 0.7);
    z-index: 1;
}

.form-title {
    left: 50%;
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
    color: #323648;
    font-size: 25px; 
    text-align: left;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 15px;
}

#submit-input, #guest-submit {
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    background-color:rgb(0, 137, 82);
    color: #FFFFFF;
    padding: 15px 90px 15px 90px;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .15s,color .15s ease-in-out;
}



#submit-input:hover, #guest-submit:hover {
    box-shadow: 0 2px rgb(218, 218, 218);
}



.login-form-container, .signup-form-container {
    justify-content: center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: .5px solid rgb(172, 172, 172);
    border-right: .5px solid rgb(172, 172, 172);
    border-left: .5px solid rgb(172, 172, 172);
    width: 450px;
    height: 350px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px rgb(172, 172, 172);
}

.login-form-list, .signup-form-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Muli', sans-serif;
}