
.login-form, .signup-form {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(245, 245, 245, 0.7);
    z-index: 1;
}

.login-form-div, .signup-form-div {
    display: flex;
    flex-direction: column;
}

.form-title {
    font-family: 'Muli', sans-serif;
    color: #323648;
    font-size: 25px; 
    font-weight: 700;
}

.form-title-signup {
    font-family: 'Muli', sans-serif;
    color: #323648;
    font-size: 25px; 
    font-weight: 700;
    margin-top: -20px;
}

#submit-input {
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    background-color: #008952;
    color: #FFFFFF;
    padding: 15px 99px 15px 99px;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .15s,color .15s ease-in-out;
    border: none;
}

#submit-li {
    align-self: center;
}

.errors-box {
    position: absolute;
    display: flex;
    top: 550px;
    align-self: center;
    border-top: 0.25px solid #c4c4c4;
    border-right: 0.25px solid #c4c4c4;
    border-left: 0.25px solid #c4c4c4;
    padding: 30px;
    background-color: white;
    border-radius: 4px;
    z-index: 200;
    box-shadow: 0px 2px #acacac;
}

.errors-box-signup {
    position: absolute;
    display: flex;
    top: 690px;
    align-self: center;
    border-top: 0.25px solid #c4c4c4;
    border-right: 0.25px solid #c4c4c4;
    border-left: 0.25px solid #c4c4c4;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    z-index: 200;
    box-shadow: 0px 2px #acacac;
}

#error-messages {
    font-family: 'Muli', sans-serif;
    color: rgb(240, 109, 109);
}

#error-messages > li {
    padding: 2px;
}


#guest-submit {
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    background-color: #008952;
    color: #FFFFFF;
    padding: 15px 71px 15px 71px;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .15s,color .15s ease-in-out;
    border: none;
}



#submit-input:hover, #guest-submit:hover {
    box-shadow: 0 2px rgb(218, 218, 218);
}



.login-form-container {
    justify-content: center;
    display: flex;
    position: absolute;
    top: 310px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: .25px solid rgb(196, 196, 196);
    border-right: .25px solid rgb(196, 196, 196);
    border-left: .25px solid rgb(196, 196, 196);
    width: 450px;
    height: 350px;
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px rgb(172, 172, 172);
}

.signup-form-container {
    justify-content: center;
    display: flex;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: .25px solid rgb(196, 196, 196);
    border-right: .25px solid rgb(196, 196, 196);
    border-left: .25px solid rgb(196, 196, 196);
    width: 600px;
    height: 450px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px rgb(172, 172, 172);
    padding: 50px;

}

#login-li {
    align-self: center;
}



.login-form-list, .signup-form-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 80%;
    min-width: 50%;
    margin-top: 20px;
    transform: translate(-50%, -50%);
    font-family: 'Muli', sans-serif;
}

.email-input, .password-input, .username-input, .avatar-link-input {
    display: flex;
    flex-direction: column;
}


#email-input, #username-input, #password-input, #avatar-link-input {
    border: 0.25px solid #c4c4c4;
    margin: 10px;
    border-radius: 3px;
    padding: 15px;
    outline: none;
    font-size: 15px;
    font-family: 'Muli', sans-serif;
}

#email-input:focus , #username-input:focus , #password-input:focus , #avatar-link-input:focus {
    border: .25px solid rgb(156, 156, 156);
}

#sign-in-link {
    text-decoration: none;
    font-family: 'Muli', sans-serif;
}

#or-text {
    margin-right: 20px;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

#or-text-login {
    margin-top: 10px;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

#transfer-to-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
