.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 10;
  overflow-x: hidden;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 640px;
  max-width: 100%;
  padding-bottom: 2rem;
}

.x-button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: 'Nunito', sans-serif;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  padding: 10px;
  width: 62px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(83, 83, 83);
  transition: background-color .15s,color .15s ease-in-out;
  outline: none;
}

.x-button:hover {
  background-color: lightgray;
  color: black;
}

.cancel-button {
  font-family: 'Noto Sans', sans-serif;
}

.newroom-form-div {
  display: flex;
  flex-direction: column;
}
.newroom-form.dm {
  display: block;
  height: 450px;
}

.newroom-form {
  display: flex;
  flex-direction: column;
}

.search-and-button {
  margin-top: 10px;  
}

.newroom-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #2c2d30;
  margin-bottom: 15px;
}

.newroom-body {
  font-family: 'Noto Sans', sans-serif;
  font-size: .9rem;
  line-height: 1.25rem;
  color: #717274;
  margin-top: 1rem;
}

.text-label {
  font-family: 'Noto Sans', sans-serif;
  margin-left: 15px;
}

.error-text {
  font-family: 'Muli', sans-serif;
  font-size: .8rem;
  color: rgb(255, 0, 0);
  display: block;
  line-height: 1rem;
  margin-top: 8px;
  margin-bottom: 10px;
}

.title-label {
  font-family: 'Noto Sans', sans-serif;
  color: #2c2d30;
  font-weight: 600;
  margin-top: 25px;
}

.newroom-input {
  border: 1px solid #929292;
  margin-top: 8px;
  border-radius: 3px;
  padding: 13px;
  outline: none;
  font-size: 17px;
  font-family: 'Muli', sans-serif;
}

.newroom-input.search {
  border: none;
  margin: 0;
  width: 70%;
  display: block;
}

.newroom-input.search:focus {
  border: none;
}

.search-list.dm {
  display: flex;
  flex-direction: column;
  border-top: 1px solid lightgray;
  margin-top: 20px;
  width: 100%;
  /* overflow-y: scroll; */
  height: 60%;
}

.search-list {
  border-top: 1px solid lightgray;
  margin-top: 20px;
  width: 100%;
  /* overflow-y: scroll; */
  height: 60%;
}

.search-list li {
  font-family: 'Noto Sans', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}

.search-list li:hover {
  border-bottom: none;
  border-radius: 3px;
  border: 1px solid rgb(205, 205, 255);
  background-color: rgb(225, 225, 255);
}

.users-search-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid gray;
  border-radius: 3px;
}

.users-search-container.dm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid gray;
  border-radius: 3px;
  width: 86%;
  float: left;
  margin-bottom: 20px;
}

.users-search-container ul {
  display: flex;
  flex-wrap: wrap;
}

.users-search-container ul > li {
  background-color: rgb(154, 154, 253);
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  padding: 5px;
  color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.input-subtext {
  font-family: 'Muli', sans-serif;
  font-size: .8rem;
  color: #717274;
  display: block;
  line-height: 1rem;
  margin-top: 8px;
  margin-bottom: 10px;
}

.newroom-input:focus {
  border: .25px solid rgb(156, 156, 156);
}
.modal-button.disabled {
  background-color: #808080;
  color: #FFFFFF;
  cursor: default;
  transition: background-color .15s,color .15s ease-in-out;
}

.dm-button.disabled {
  height: 50px;
  background-color: #808080;
  color: #FFFFFF;
  cursor: default;
  transition: background-color .15s,color .15s ease-in-out;
}

.dm-button {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #008952;
  color: #FFFFFF;
  padding: 0px 20px 0px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .15s,color .15s ease-in-out;
  border: none;
  outline: none;
  margin-left: 16px;
  height: 50px;
  float: right;
}

.modal-button {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #008952;
  color: #FFFFFF;
  padding: 0px 20px 0px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .15s,color .15s ease-in-out;
  border: none;
  outline: none;
  margin-left: 16px;
}

.cancel-button {
  font-family: 'Muli', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
    background-color: transparent;
    color: black;
    padding: 0px 20px 0px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .15s,color .15s ease-in-out;
    border: .25px solid black;
    outline: none;
}


.cancel-button:hover, .modal-button:hover {
  box-shadow: 0 2px rgb(218, 218, 218);
}

.button-container {
  margin-top: 20px;
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: flex-end;
}

.switch-text-container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}



.switch {
  position: relative;
  display: inline-block;
  width: 94px;
  height: 27px;
}

.slider::after {
  content: "Public";
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  -webkit-transition: .4s;
  transition: .4s;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 14px;
}

  input[type="checkbox"] {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #008952;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider::before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input[type="checkbox"]:checked + .slider {
    background-color: #f26130;
  }
  
  input[type="checkbox"]:focus + .slider {
    box-shadow: 0 0 1px #f26130;
  }
  
  input[type="checkbox"]:checked + .slider::before {
    -webkit-transform: translateX(67px);
    -ms-transform: translateX(67px);
    transform: translateX(67px);
  }
  
  input[type="checkbox"]:checked + .slider::after {
    content: "Private";
    left: 40%;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
