.side-nav {
  background-color: #4d394b;
  bottom: 0;
  height: 100%;
  left: 0;
  outline: none;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: -50px;
  top: 0;
  transform: translateZ(0);
}

.side-nav-header {
  margin-top: 20px;
  display: flex;
  align-items: baseline;
  margin-left: 18px;
  margin-bottom: 50px;
}

.main-app {
  max-width: 100%;
  bottom: 0;
  height: 100%;
  left: 0;
  outline: none;
  overflow-y: hidden;
  position: absolute;
  right: -50px;
  top: 0;
  transform: translateZ(0);
  overflow-x: hidden;
}

.list-header {
  display: flex;
  align-items: center;
}

#id {
  display: contents;
}

.rooms {
  max-width: 100%;
}

.room-form-button {
  height: 17px;
  color: white;
  background-color: transparent;
  line-height: 20px;
  opacity: 0.54;
  border: none;
  cursor: pointer;
  margin-left: 100px;
  filter: invert(100%);
  transition: opacity .1s ease-out;
  -webkit-font-smoothing: antialiased;
}

.room-form-button > img {
  width: 15px;
}

.room-form-button:hover {
  opacity: .84;
}

#nav-logout {
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  color: rgb(124, 124, 124);
  background-color: transparent;
  padding: 0px 0px 0px 0px;
  margin-left: 76px;
  border: none;
  transition: background-color .15s,color .15s ease-in-out;
  cursor: pointer;
}

#nav-logout:hover {
  color: rgb(255, 255, 255);
}

#presence {
  width: 10px;
  opacity: 0.5;
  margin-right: 5px;
}

#username {
  box-sizing: border-box;
  color: #cac4c9;
  display: block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-variant-ligatures: common-ligatures;
  font-weight: 400;
  height: 21px;
  line-height: 21px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  text-size-adjust: 100%;
  user-select: none;
  visibility: visible;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
}

.room-list-item:hover {
  background-color: rgb(76, 150, 137);
}


#channels {
  color: rgb(202, 196, 201);
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-size: 15px;
  font-variant-ligatures: common-ligatures;
  height: 26px;
  line-height: 26px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-top: 0px;
  text-decoration-color: rgb(202, 196, 201);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  user-select: none;
  visibility: visible;  
  -webkit-font-smoothing: antialiased;
}


.room-list-link {
  align-items: center;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-sizing: border-box;
  color: rgb(202, 196, 201);
  cursor: pointer;
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-size: 15px;
  font-variant-ligatures: common-ligatures;
  height: 26px;
  line-height: 26px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 12px;
  padding-top: 0px;
  text-decoration-color: rgb(202, 196, 201);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  user-select: none;
  visibility: visible;  
  width: 220px;
  -webkit-font-smoothing: antialiased;
  -webkit-user-drag: none;
}