#work-img {

    align-self: center;
    max-width: 50%;

}

#get-started-button {
    font: 13px sans-serif;
    text-decoration: none;
    background-color: #5268bd;
    color: #FFFFFF;
    padding: 16px 25px 16px 25px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 4px;
}

#get-started-button:hover {
    background-color: #4658a3
}

#nav-logo-link {
    max-width: 10%;
    margin: 0px auto;
    padding: 0px 15px 0px 15px;
    border: none;
    background: url(/home/jackson/Documents/Slackr/app/assets/images/slack_logo.png) no-repeat bottom;
}

.nav-bar{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 200px;
}

.nav-list-left {
    justify-content: flex-start;
}

.nav-list-right {
    justify-content: flex-end;
}