#work-img {
    align-self: center;
    height: 550px;
    max-width: 70%;
}

.body {
    width: 1366px;
    margin: auto;
}

#get-started-button {
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    background-color: #3f46ad;
    color: #FFFFFF;
    padding: 20px 40px 20px 40px;
    border-radius: 4px;
    transition: background-color .15s,color .15s ease-in-out;
}

#nav-login, #nav-signup, #nav-workspaces {
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    color: rgb(124, 124, 124);
    padding: 9px 27px 9px 27px;
    border-top: 2px solid  rgb(124, 124, 124);
    border-right: 2px solid rgb(124, 124, 124);
    border-bottom: 2px solid  rgb(124, 124, 124);
    border-left: 2px solid  rgb(124, 124, 124);
    border-radius: 4px;
    margin-right: 15px;
    transition: color .15s,color .15s ease-in-out;
    transition: background-color .15s,color .15s ease-in-out;
}

#nav-login:hover, #nav-signup:hover {
    color: rgb(82, 82, 82);
    border-top: 2px solid  rgb(82, 82, 82);
    border-right: 2px solid rgb(82, 82, 82);
    border-bottom: 2px solid  rgb(82, 82, 82);
    border-left: 2px solid  rgb(82, 82, 82);
}

#get-started-button:hover {
    background-color: #2f3586;
}

#nav-logo-link {
    height: 30px;
    width: 150px;
    margin-left: 50px;
    margin-bottom: 20px; 
    align-self: center;  
}

.nav-bar {
    position: relative;
    background: #FFFFFF;
    height: 75px;
    border-bottom: .5px rgb(124, 124, 124);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.nav-list {
    display: flex;
    margin-top: 9px;
    align-items: center;
}


.call-to-action-card {
    display: flex;
    min-height: 750px;
    align-items: center;
}

#call-to-action-title {
    font-family: 'Noto Serif', serif;
    box-sizing: border-box;
    color: #323648;
    font-size: 75px; 
    text-align: left;
    font-weight: 500;
    margin-bottom: 40px;
    line-height: 80px;
}

.call-to-action-body {
    max-width: 800px;
    box-sizing: border-box;
    display: block;
    position: static;
    margin-right: auto;
    margin-bottom: 32px;
    margin-left: 35px;
}

#call-to-action-body-text {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    margin-right: auto;
    margin-bottom: 50px;
    color: #5b5e6d;
    line-height: 32px;
}

#sign-in-text {
    margin-top: 30px;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    margin-right: auto;
    margin-bottom: 50px;
    color: #505050;
    line-height: 30px;
    transition: background-color .15s,color .15s ease-in-out;
}

#sign-in-link:hover {
    color: #1f2358;
}

.marketing-card {
    width: 1366px;
    margin: auto;
}

#marketing-body {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    color: #5b5e6d;
    line-height: 32px;
    align-self: center;
    margin: auto;
    max-width: 900px;
    text-align: center;
}

#marketing-title {
    font-family: 'Noto Serif', serif;
    box-sizing: border-box;
    color: #323648;
    font-size: 35px; 
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 80px;
    margin: auto;
    align-self: center;
    margin-top: 100px;
}

.topics {
    margin-top: 100px;
    position: relative;
    display: flex;
}

.topics > div {
    position: relative;
    display: flex;
}


#channels-icon, #search-icon, #integration-icon, #security-icon {
    height: 60px;
    max-width: 50%;
    margin-top: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
}

#channels-body, #search-body, #integration-body, #security-body {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    margin-bottom: 50px;
    max-width: 300px;
    margin-top: 100px;
    color: #5b5e6d;
    line-height: 25px;
    padding: 25px;
    align-self: auto;
}

#channels-title, #search-title, #integration-title, #security-title {
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
    color: #323648;
    font-size: 16px; 
    text-align: left;
    font-weight: 700;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
}